*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bd8affc4;
    width: 100%;
    height: 100vh;
    font-family: "Quicksand", sans-serif;
}

.navbar{
    max-width: 1500px;
    margin: 0 auto;
}

.logo img{
    width: 150px;
}


/* cabeça */

header{
    background-color: #440744;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
    position: relative;
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

header .more button{
    cursor: pointer;
    color: white;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius:10px;
    background: rgb(174, 0, 255);
}
/* Estilos para o menu lateral */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Esconde o menu fora da tela */
    width: 300px; /* Largura do menu lateral */
    height: 100%;
    background-color: #440744;
    transition: right 0.3s ease;
    z-index: 1000; /* Garante que o menu esteja na frente do conteúdo */
}

.sidebar.show {
    right: 0; /* Exibe o menu ao definir a posição direita para 0 */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 100px 0 0 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Estilos para o botão de fechar */
.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: white;
    font-size: 24px;
    z-index: 1100;
}

.close-menu i {
    transition: transform 0.3s ease;
}

.close-menu:hover i {
    transform: scale(1.2); /* Efeito de escala no ícone ao passar o mouse */
}


/* linha nos a */

header nav ul li a::after {
    content: '';
    position: absolute; 
    left: 0; 
    bottom: -5px;
    width: 100%;
    height: 2px; 
    background-color: pink; 
    transform: scaleX(0); 
    transition: transform 0.5s ease;
}

header nav ul li a:hover::after {
    transform: scaleX(1); 
}

.mobile{
    display: none;
}

.mobile-menu{
    display: none;
}

/* Topo site inicio */

section.main-section{
    padding: 40px 4%;
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
}

.main-text{
    text-align: center;
}

.main-text h1{
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-weight: 900;
    font-size: 2rem;
}

.main-text span{
    color:  rgb(174, 0, 255);
    font-weight: 900;
}

.main-p-sobre{
    max-width: 50rem;
    max-height: 25rem;
    font-size: 1.5rem;
    text-align: justify;
    overflow: hidden;
}

.main-p-sobre p {
    font-size: 95%;
    margin-bottom: 1rem;
}

.main-text span{
    color: purple;
    font-weight: 900;
}

.main-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-button button{
    cursor: pointer;
    color: white;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 10px;
    background: rgb(174, 0, 255);
}

.main-button i{
    width: 30px;
}

/* rotação img */

.main-img{
    margin-top: 3rem;
    margin-right: 20px;
}

.main-img img {
    border-radius: 20px;
    width: 700px;
    transition: transform 2s ease; 
}

.main-img:hover img {
    transform: rotatey(180deg); 
}

/* topo site fim */

.main-sobre{
    padding: 40px 4%;
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.flex{
    margin: 0 auto; 
    display: flex;
}

.sobre-h1 {
    max-width: 800px;
    margin-bottom: 1rem; 
    text-align: center;
}

.sobre-h1 p {
    margin-top: 3rem;
    max-width: 50rem;
    max-height: 25rem;
    font-size: 1.5rem;
    text-align: justify;
    overflow: hidden;
}

.sobre-h1 h2{
    color:  rgb(174, 0, 255);
}


/* estilo imgs */

.card1, .card2{
   margin: 2rem;
   position: relative;
   border-radius: 2rem;
   overflow: hidden;
}

.card-img1, .card-img2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card1-corpo, .card2-corpo{
    width: 100%;
    height: 100%;
    top: -100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
}

.card1:hover .card1-corpo, .card2:hover .card2-corpo{
    top: 0;
}

/* fim sobre */

.slide-container{
    width: 65rem;
    height: 40rem;
    margin: 0 auto;
    max-width: 80rem;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
}

.slide-titulo{
    text-align:center;
    color:  rgb(174, 0, 255);
}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: all 0.5s ease-in-out;
    text-align: center;
}

.slide img{
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    margin-bottom: -3rem;
}

.slide h1{
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.btn-skip{
    display: flex;
    justify-content: center;
}

.btn-skip button{
    margin: 1rem;
    cursor: pointer;
    color: white;
    padding: 0.5rem 4rem;
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    border-radius: 0.5rem;
    background:  rgb(174, 0, 255);
}

.slide{
    transform: translateX(0%);
}

/* posição dos elementos no caso imgs */
.slide:nth-child(1){
    left: 0;
}

.slide:nth-child(2){
    left: 100%;
}

.slide:nth-child(3){
    left: 200%;
}

/* fim carrosel */

footer.formulario{
    padding: 40px 4%;
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
}

.box-footer h2{
    margin-bottom: 10rem;
    text-align: center;
    font-size: 3rem;
    color: purple;
}

form{
    max-width: 35rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


form input, form textarea{
    width: 100%;
    background-color: rgba(19, 19, 19, 0.288);
    border: 0;
    outline: 0;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: white;
    font-size: 1.2rem;
}

.box-footer h2{
    margin-top: 7rem;
    margin-bottom: 3rem;
}

form textarea{
    resize: none;
    max-height: 20rem;
}

.button-enviar{
    margin-top: 1rem;
    text-align: center;
}

.button-enviar button{
    background: purple;
    color: white;
    font-weight: 300;
    cursor: pointer;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.footer-content {
    max-width: 80rem;
    margin: 0 auto;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.logo-footer img{
    width: 300px;
}

.socialmedia img{
    margin: 20px;
    width: 56px;
    cursor: pointer;
    border: 2px solid rgba(204, 0, 255, 0.39);
    border-radius: 20%;
    background: rgba(255, 255, 255, 0.774);
}

.socialmedia p{
    font-size: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* responsividade */

/* Responsividade para Mobile */

@media (min-width: 320px) and (max-width: 568px) {
      
    header .navbar {
        flex-direction: row;
        border-bottom: 2px solid black;
    }

    header nav ul {
        padding: 0;
    }

    header nav ul li {
        display: block;
        padding: 10px 0;
    }
    
    .nav{
        display: none;
    }

    .logo img{
        width: 100px;
    }

    .more{
        display: none;
    }

    .mobile{
        display: block;
    }

    .mobile button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 1rem;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
        color: white;
        text-decoration: none;
    }

    .mobile-menu .nav-item button {
        cursor: pointer;
        color: white;
        padding: 10px 10px;
        font-size: 18px;
        font-weight: 600;
        border: 0;
        border-radius:10px;
        background: rgb(174, 0, 255);
    }

    .open{
        display: block;
    }

    section.main-section {
        flex-direction: column;
        align-items: center;
    }

    .main-img img {
        width: 500px;
        max-width: 300px;
        margin-left: 1.4rem;
    }

    .main-p-sobre {
        margin-top: 3rem;
        max-width: 80rem;
        max-height: 30rem;
        font-size: 1rem;
        text-align: justify;
        overflow: hidden;
    }
    
    .main-button {
        flex-direction: column;
        align-items: center;
    }

    .main-button button {
        width: 100%;
        max-width: 300px;
    }

    /* figma */

    .main-sobre {
        margin-top: -20px;
        flex-direction: column;
        align-items: center;
    }

    .flex {
        flex-direction: column;
        align-items: center;

    }

    .sobre-h1 p {
        margin-top: 3rem;
        max-width: 80rem;
        max-height: 30rem;
        font-size: 1rem;
        text-align: justify;
        overflow: hidden;
    }

    .card1,
    .card2 {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }

    .card1 img,
    .card2 img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    }

    .slide-container {
        width: 100%;
        max-width: 100%;
    }

    .card1-corpo, .card2-corpo{
        display: none;
    }

    /* carrossel */
    
    .slide img {
        width: 300px;
        height: 500px;
    }

    .btn-skip button{
        padding: 0.5rem 2rem;
    }
    
    /* rodapé */
    footer.formulario {
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .logo-footer{
        display: none;
    }

    .footer-content , .footer-content .socialmedia {
        margin-left: 0.5rem;
    }
    
}


@media (min-width: 360px) and (max-width: 880px) {
    
    header .navbar {
        flex-direction: row;
        border-bottom: 2px solid black;
    }

    header nav ul {
        padding: 0;
    }

    header nav ul li {
        display: block;
        padding: 10px 0;
    }
    
    .nav{
        display: none;
    }

    .logo img{
        width: 100px;
    }

    .more{
        display: none;
    }

    .mobile{
        display: block;
    }

    .mobile button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 1rem;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
        color: white;
        text-decoration: none;
    }

    .mobile-menu .nav-item button {
        cursor: pointer;
        color: white;
        padding: 10px 10px;
        font-size: 18px;
        font-weight: 600;
        border: 0;
        border-radius:10px;
        background: rgb(174, 0, 255);
    }

    .open{
        display: block;
    }

    section.main-section {
        flex-direction: column;
        align-items: center;
    }

    .main-img img {
        width: 500px;
        max-width: 300px;
        margin-left: 2rem;
    }

    .main-p-sobre {
        margin-top: 3rem;
        max-width: 80rem;
        max-height: 30rem;
        font-size: 1rem;
        text-align: justify;
        overflow: hidden;
    }

    .main-p-sobre p {
        font-size: none;
        margin-bottom: 1rem;
    }

    .main-button {
        flex-direction: column;
        align-items: center;
    }

    .main-button button {
        width: 100%;
        max-width: 300px;
    }

    /* figma */

    .main-sobre {
        margin-top: -20px;
        flex-direction: column;
        align-items: center;
    }

    .sobre-h1 p {
        margin-top: 3rem;
        max-width: 80rem;
        max-height: 30rem;
        font-size: 1rem;
        text-align: justify;
        overflow: hidden;
    }

    .flex {
        flex-direction: column;
        align-items: center;

    }

    .card1 img{
        width: 500px;
        max-width: 300px;
        margin-left: -1rem;
    }

    .card2 img{
        width: 500px;
        max-width: 300px;
        margin-left: -1rem;
    }

    .slide-container {
        width: 100%;
        max-width: 100%;
    }

    .card1-corpo, .card2-corpo{
        display: none;
    }

    /* carrossel */
    
    .slide img {
        width: 350px;
    }

    /* rodapé */
    footer.formulario {
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .logo-footer{
        display: none;
    }

    .footer-content , .footer-content .socialmedia {
        margin-left: 1.2rem;
    }
    
}


@media (min-width: 768px) and (max-width: 880px) {

    .main-img img {
        max-width: none;
        width: 450px;
    }    

    .card1 img{
        max-width: none;
        width: 450px;
    }

    .card2 img{
        max-width: none;
        width: 450px;
    }    

}





/* Responsividade para Tablet */
@media (min-width: 1025px) and (max-width: 1280px) {
    
}

/* Responsividade para Desktop */
@media (min-width: 1281px) and (max-width: 1440px) {
    
}

@media (min-width: 1441px) {
    
}
